.git
.gitignore
.claude
.opencode
.vs
.vscode
**/node_modules
**/bin
**/obj
**/.cache
front-end/out
front-end/.next
back-end/ShipRight.Server/publish
back-end/ShipRight.Server/wwwroot/_next
back-end/temp-apicheck
installer
publish
shipright.iss
*.md
*.mdx
*.exe
*.msi
